

.footer {
    width: 100%;
    height: 72px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    
}

.footer .footer-info svg {
    width: 24px;
    height: 24px;
}

.footer .footer-info p{
    font-size: 0.825rem;
    font-weight: 500;
    letter-spacing: 1;
}

.footer .footer-social {
    font-size: 0.825rem;
    font-weight: 500;
    letter-spacing: 1;
    display: flex;
    column-gap: 8px;
}

.footer .footer-social a:hover {
    cursor: pointer;
    color: var(--font-secondary-color);
    
}


@media (max-width:768px) {
    .footer {
        flex-direction: column;
        row-gap: 12px;
        height: 100%;

    }
    .footer .footer-info {
        flex-direction: column;
        row-gap: 12px;
    }

    .footer .footer-social {
        row-gap: 8px;
        font-weight: 600;
    }


}